мы минтим nft после наступления определенной даты Public 2025 May 16 at 2:00 PM WEST. Нужен скрипт который заминтит нфт на всех наших акках в момент открытия минта. Потому что там явно будет fcfs. Это на блокчейне sui. Как это реализовывается по шагам, учитывая, что я полный новичёк и совсем не понимаю с какой стороны подступаться. предпочтительнее typescript или node.js
Вот страница с грядущим событием https://www.tradeport.xyz/sui/collection/xociety?tab=mint&bottomTab=trades
Вот я нашел инфу про контракт https://suivision.xyz/package/0xb7f3fd145cf03855d76e0c7778d518d3d1ee7d854605c422c15677261024facc?tab=Code
Я хочу запустить этот скрипт за 2 минуты до старта минта, чтобы он висел в процессе и как только наступит время минта - мы отправили запрос в следующую секунду максимум